<div class="jumbotron" style="padding:45px 0px">
<h4 class="text-center">
    Work Items
</h4>
</div>
<div class="form-group">
  <label for="exampleSelect1">Type</label>
  <div class="row">
      <div class="col-sm-3">
          <select class="form-control" [formControl]="taskFilterControl">
              <option *ngFor="let option of taskOptions" [ngValue]="option">
                {{ option }}
              </option>
          </select>
      </div>
      <div class="col-sm-3">
          <button class="btn btn-primary" *ngIf="taskFilterControl.value" (click)="taskFilterControl.setValue('')">
              Clear
          </button>
      </div>
  </div>
</div>
<table s class="table table-striped">
        <thead class="thead-default">
        <tr>
          <th></th>
          <th >Id</th>
          <th>Titulo</th>
          <th>Type</th>
          <th (click)="sortTable()" >Data <i class="material-icons small">sort</i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of filteredItens$.value">
          <th scope="row"></th>
          <td> {{ item.Id }}</td>
          <td> {{ item.Title }}</td>
          <td> {{ item.Type }}</td>
          <td> {{ item.Data| date: 'dd/MM/yyyy hh:mm'}}</td>
        </tr>
        </tbody>
</table>
